{"swagger": "2.0", "info": {"title": "Your API Title", "description": "API documentation", "termsOfService": "https://www.yourapi.com/terms/", "contact": {"email": "contact@yourapi.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "api-tcommerce.soultv.com.br", "schemes": ["http"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/{version}/ai-campaign-factory-schedule/": {"get": {"operationId": "ai-campaign-factory-schedule_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AICampaignFactorySchedule"}}}}, "tags": ["ai-campaign-factory-schedule"]}, "post": {"operationId": "ai-campaign-factory-schedule_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AICampaignFactorySchedule"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactorySchedule"}}}, "tags": ["ai-campaign-factory-schedule"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/ai-campaign-factory-schedule/{id}/": {"get": {"operationId": "ai-campaign-factory-schedule_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactorySchedule"}}}, "tags": ["ai-campaign-factory-schedule"]}, "put": {"operationId": "ai-campaign-factory-schedule_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AICampaignFactorySchedule"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactorySchedule"}}}, "tags": ["ai-campaign-factory-schedule"]}, "patch": {"operationId": "ai-campaign-factory-schedule_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AICampaignFactorySchedule"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactorySchedule"}}}, "tags": ["ai-campaign-factory-schedule"]}, "delete": {"operationId": "ai-campaign-factory-schedule_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["ai-campaign-factory-schedule"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/{version}/ai-campaign-factory/": {"get": {"operationId": "ai-campaign-factory_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AICampaignFactoryList"}}}}, "tags": ["ai-campaign-factory"]}, "post": {"operationId": "ai-campaign-factory_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AICampaignFactory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactory"}}}, "tags": ["ai-campaign-factory"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/ai-campaign-factory/{id}/": {"get": {"operationId": "ai-campaign-factory_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactory"}}}, "tags": ["ai-campaign-factory"]}, "put": {"operationId": "ai-campaign-factory_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AICampaignFactory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactory"}}}, "tags": ["ai-campaign-factory"]}, "patch": {"operationId": "ai-campaign-factory_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AICampaignFactory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactory"}}}, "tags": ["ai-campaign-factory"]}, "delete": {"operationId": "ai-campaign-factory_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["ai-campaign-factory"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/{version}/ai-campaign-factory/{id}/campaigns/": {"get": {"operationId": "ai-campaign-factory_get_campaigns", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AICampaignFactory"}}}, "tags": ["ai-campaign-factory"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaign-channels/": {"get": {"operationId": "campaign-channels_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CampaignChannel"}}}}, "tags": ["campaign-channels"]}, "post": {"operationId": "campaign-channels_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignChannel"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CampaignChannel"}}}, "tags": ["campaign-channels"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaign-channels/{id}/": {"get": {"operationId": "campaign-channels_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignChannel"}}}, "tags": ["campaign-channels"]}, "put": {"operationId": "campaign-channels_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignChannel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignChannel"}}}, "tags": ["campaign-channels"]}, "patch": {"operationId": "campaign-channels_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignChannel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignChannel"}}}, "tags": ["campaign-channels"]}, "delete": {"operationId": "campaign-channels_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["campaign-channels"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this campaign channel.", "required": true, "type": "integer"}]}, "/{version}/campaign-product-scheduling/": {"get": {"operationId": "campaign-product-scheduling_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CampaignProductScheduling"}}}}, "tags": ["campaign-product-scheduling"]}, "post": {"operationId": "campaign-product-scheduling_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignProductScheduling"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductScheduling"}}}, "tags": ["campaign-product-scheduling"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaign-product-scheduling/{id}/": {"get": {"operationId": "campaign-product-scheduling_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductScheduling"}}}, "tags": ["campaign-product-scheduling"]}, "put": {"operationId": "campaign-product-scheduling_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignProductScheduling"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductScheduling"}}}, "tags": ["campaign-product-scheduling"]}, "patch": {"operationId": "campaign-product-scheduling_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignProductScheduling"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductScheduling"}}}, "tags": ["campaign-product-scheduling"]}, "delete": {"operationId": "campaign-product-scheduling_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["campaign-product-scheduling"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this campaign product scheduling.", "required": true, "type": "integer"}]}, "/{version}/campaign-products/": {"get": {"operationId": "campaign-products_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CampaignProductC"}}}}, "tags": ["campaign-products"]}, "post": {"operationId": "campaign-products_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignProductC"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductC"}}}, "tags": ["campaign-products"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaign-products/by-campaign/{campaign_id}/": {"get": {"operationId": "campaign-products_get_by_campaign", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CampaignProductC"}}}}, "tags": ["campaign-products"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "campaign_id", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaign-products/{id}/": {"get": {"operationId": "campaign-products_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductC"}}}, "tags": ["campaign-products"]}, "put": {"operationId": "campaign-products_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignProductC"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductC"}}}, "tags": ["campaign-products"]}, "patch": {"operationId": "campaign-products_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CampaignProductC"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductC"}}}, "tags": ["campaign-products"]}, "delete": {"operationId": "campaign-products_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["campaign-products"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this campaign product.", "required": true, "type": "integer"}]}, "/{version}/campaigns/": {"get": {"operationId": "campaigns_list", "description": "", "parameters": [{"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CampaignList"}}}}}}, "tags": ["campaigns"]}, "post": {"operationId": "campaigns_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Campaign"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Campaign"}}}, "tags": ["campaigns"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaigns/country-channel-by-id/{campaign_id}/": {"get": {"operationId": "campaigns_country_channel_by_id", "description": "Custom endpoint to retrieve lists of country_id and channel_id by campaign_id.", "parameters": [{"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Campaign"}}}}}}, "tags": ["campaigns"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "campaign_id", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaigns/{campaign_id}/products/": {"get": {"operationId": "campaigns_products_list", "description": "List all products for a specific campaign.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CampaignProductList"}}}}}}, "tags": ["campaigns"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "campaign_id", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaigns/{campaign_id}/products/{id}/": {"get": {"operationId": "campaigns_products_read", "description": "Retrieve a specific campaign product by campaign_product_id.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CampaignProductDetail"}}}, "tags": ["campaigns"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "campaign_id", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/{version}/campaigns/{id}/": {"get": {"operationId": "campaigns_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Campaign"}}}, "tags": ["campaigns"]}, "put": {"operationId": "campaigns_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Campaign"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Campaign"}}}, "tags": ["campaigns"]}, "patch": {"operationId": "campaigns_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Campaign"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Campaign"}}}, "tags": ["campaigns"]}, "delete": {"operationId": "campaigns_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["campaigns"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this campaign.", "required": true, "type": "integer"}]}, "/{version}/categories/": {"get": {"operationId": "categories_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}, "tags": ["categories"]}, "post": {"operationId": "categories_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Category"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["categories"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/categories/{id}/": {"get": {"operationId": "categories_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["categories"]}, "put": {"operationId": "categories_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Category"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["categories"]}, "patch": {"operationId": "categories_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Category"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["categories"]}, "delete": {"operationId": "categories_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["categories"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this category.", "required": true, "type": "integer"}]}, "/{version}/countries/": {"get": {"operationId": "countries_list", "description": "", "parameters": [{"name": "country_code", "in": "query", "description": "country_code", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Country"}}}}, "tags": ["countries"]}, "post": {"operationId": "countries_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Country"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Country"}}}, "tags": ["countries"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/countries/{country_code}/": {"get": {"operationId": "countries_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Country"}}}, "tags": ["countries"]}, "put": {"operationId": "countries_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Country"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Country"}}}, "tags": ["countries"]}, "patch": {"operationId": "countries_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Country"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Country"}}}, "tags": ["countries"]}, "delete": {"operationId": "countries_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["countries"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "country_code", "in": "path", "description": "A unique value identifying this country.", "required": true, "type": "string"}]}, "/{version}/currencies/": {"get": {"operationId": "currencies_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Currency"}}}}, "tags": ["currencies"]}, "post": {"operationId": "currencies_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Currency"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Currency"}}}, "tags": ["currencies"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/currencies/{code}/": {"get": {"operationId": "currencies_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Currency"}}}, "tags": ["currencies"]}, "put": {"operationId": "currencies_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Currency"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Currency"}}}, "tags": ["currencies"]}, "patch": {"operationId": "currencies_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Currency"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Currency"}}}, "tags": ["currencies"]}, "delete": {"operationId": "currencies_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["currencies"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "code", "in": "path", "description": "A unique value identifying this currency.", "required": true, "type": "string"}]}, "/{version}/e-commerce-product-search": {"post": {"operationId": "e-commerce-product-search_create", "description": "POST /e-commerce-product-search", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["e-commerce-product-search"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/ecommerce/": {"get": {"operationId": "ecommerce_list", "description": "", "parameters": [{"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ECommerce"}}}}, "tags": ["ecommerce"]}, "post": {"operationId": "ecommerce_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ECommerce"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ECommerce"}}}, "tags": ["ecommerce"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/ecommerce/{id}/": {"get": {"operationId": "ecommerce_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ECommerce"}}}, "tags": ["ecommerce"]}, "put": {"operationId": "ecommerce_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ECommerce"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ECommerce"}}}, "tags": ["ecommerce"]}, "patch": {"operationId": "ecommerce_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ECommerce"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ECommerce"}}}, "tags": ["ecommerce"]}, "delete": {"operationId": "ecommerce_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["ecommerce"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique value identifying this e commerce.", "required": true, "type": "integer"}]}, "/{version}/iab-categories/": {"get": {"operationId": "iab-categories_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/IABCategory"}}}}, "tags": ["iab-categories"]}, "post": {"operationId": "iab-categories_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/IABCategory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/IABCategory"}}}, "tags": ["iab-categories"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/iab-categories/{iab_code}/": {"get": {"operationId": "iab-categories_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/IABCategory"}}}, "tags": ["iab-categories"]}, "put": {"operationId": "iab-categories_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/IABCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/IABCategory"}}}, "tags": ["iab-categories"]}, "patch": {"operationId": "iab-categories_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/IABCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/IABCategory"}}}, "tags": ["iab-categories"]}, "delete": {"operationId": "iab-categories_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["iab-categories"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "iab_code", "in": "path", "description": "A unique value identifying this iab category.", "required": true, "type": "string"}]}, "/{version}/keywords/": {"get": {"operationId": "keywords_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/KeyWords"}}}}, "tags": ["keywords"]}, "post": {"operationId": "keywords_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KeyWords"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/KeyWords"}}}, "tags": ["keywords"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/keywords/{id}/": {"get": {"operationId": "keywords_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KeyWords"}}}, "tags": ["keywords"]}, "put": {"operationId": "keywords_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KeyWords"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KeyWords"}}}, "tags": ["keywords"]}, "patch": {"operationId": "keywords_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/KeyWords"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/KeyWords"}}}, "tags": ["keywords"]}, "delete": {"operationId": "keywords_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["keywords"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this key words.", "required": true, "type": "integer"}]}, "/{version}/product-alerts/": {"get": {"operationId": "product-alerts_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductAlertSerializerUnique"}}}}, "tags": ["product-alerts"]}, "post": {"operationId": "product-alerts_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductAlertSerializerUnique"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductAlertSerializerUnique"}}}, "tags": ["product-alerts"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/product-alerts/{product}/": {"get": {"operationId": "product-alerts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductAlertSerializerUnique"}}}, "tags": ["product-alerts"]}, "put": {"operationId": "product-alerts_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductAlertSerializerUnique"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductAlertSerializerUnique"}}}, "tags": ["product-alerts"]}, "patch": {"operationId": "product-alerts_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductAlertSerializerUnique"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductAlertSerializerUnique"}}}, "tags": ["product-alerts"]}, "delete": {"operationId": "product-alerts_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["product-alerts"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "product", "in": "path", "description": "A unique value identifying this product alert.", "required": true, "type": "string"}]}, "/{version}/product-channels/": {"get": {"operationId": "product-channels_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductUChannel"}}}}, "tags": ["product-channels"]}, "post": {"operationId": "product-channels_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductUChannel"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductUChannel"}}}, "tags": ["product-channels"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/product-channels/{id}/": {"get": {"operationId": "product-channels_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductUChannel"}}}, "tags": ["product-channels"]}, "put": {"operationId": "product-channels_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductUChannel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductUChannel"}}}, "tags": ["product-channels"]}, "patch": {"operationId": "product-channels_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductUChannel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductUChannel"}}}, "tags": ["product-channels"]}, "delete": {"operationId": "product-channels_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["product-channels"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this product channel.", "required": true, "type": "integer"}]}, "/{version}/products/": {"get": {"operationId": "products_list", "description": "", "parameters": [{"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Product"}}}}}}, "tags": ["products"]}, "post": {"operationId": "products_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["products"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/products/{id}/": {"get": {"operationId": "products_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["products"]}, "put": {"operationId": "products_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["products"]}, "patch": {"operationId": "products_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["products"]}, "delete": {"operationId": "products_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["products"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this product.", "required": true, "type": "integer"}]}, "/{version}/sponsors/": {"get": {"operationId": "sponsors_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Sponsor"}}}}, "tags": ["sponsors"]}, "post": {"operationId": "sponsors_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Sponsor"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Sponsor"}}}, "tags": ["sponsors"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/sponsors/{id}/": {"get": {"operationId": "sponsors_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Sponsor"}}}, "tags": ["sponsors"]}, "put": {"operationId": "sponsors_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Sponsor"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Sponsor"}}}, "tags": ["sponsors"]}, "patch": {"operationId": "sponsors_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Sponsor"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Sponsor"}}}, "tags": ["sponsors"]}, "delete": {"operationId": "sponsors_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["sponsors"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A unique integer value identifying this sponsor.", "required": true, "type": "integer"}]}, "/{version}/status/": {"get": {"operationId": "status_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["status"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/url-domains/": {"get": {"operationId": "url-domains_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/URLDomain"}}}}, "tags": ["url-domains"]}, "post": {"operationId": "url-domains_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/URLDomain"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/URLDomain"}}}, "tags": ["url-domains"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}]}, "/{version}/url-domains/{url}/": {"get": {"operationId": "url-domains_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/URLDomain"}}}, "tags": ["url-domains"]}, "put": {"operationId": "url-domains_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/URLDomain"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/URLDomain"}}}, "tags": ["url-domains"]}, "patch": {"operationId": "url-domains_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/URLDomain"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/URLDomain"}}}, "tags": ["url-domains"]}, "delete": {"operationId": "url-domains_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["url-domains"]}, "parameters": [{"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "url", "in": "path", "description": "A unique value identifying this url domain.", "required": true, "type": "string"}]}}, "definitions": {"Country": {"required": ["country_code"], "type": "object", "properties": {"country_code": {"title": "Country code", "type": "string", "maxLength": 3, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 100, "x-nullable": true}}}, "CampaignProductFull": {"required": ["campaign_product_id", "order"], "type": "object", "properties": {"campaign_product_id": {"title": "Campaign product id", "type": "integer"}, "product": {"title": "Product", "type": "string", "readOnly": true}, "order": {"title": "Order", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "display_time": {"title": "Display time", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "duration": {"title": "Duration", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}}}, "Campaign": {"required": ["name", "user_id", "user_email", "tenant_id"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "type": {"title": "Type", "type": "string", "enum": ["live", "scheduled"]}, "status": {"title": "Status", "type": "string", "enum": ["active", "draft", "voided", "scheduled", "standby", "finished", "live"]}, "user_id": {"title": "User id", "type": "string", "maxLength": 100, "minLength": 1}, "user_email": {"title": "User email", "type": "string", "format": "email", "maxLength": 100, "minLength": 1}, "tenant_id": {"title": "Tenant id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "scheduled_time": {"title": "Scheduled time", "type": "string", "format": "date-time", "x-nullable": true}, "country_details": {"type": "array", "items": {"$ref": "#/definitions/Country"}, "readOnly": true}, "channels": {"title": "Channels", "type": "string", "readOnly": true}, "video": {"title": "Video", "type": "string", "minLength": 1}, "products": {"type": "array", "items": {"$ref": "#/definitions/CampaignProductFull"}, "readOnly": true}}}, "AICampaignFactorySchedule": {"required": ["start_datetime", "end_datetime"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "deleted": {"title": "Deleted", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "modified": {"title": "Modified", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "start_datetime": {"title": "Start datetime", "type": "string", "format": "date-time"}, "end_datetime": {"title": "End datetime", "type": "string", "format": "date-time"}, "status": {"title": "Status", "type": "string", "enum": ["pending", "scheduled", "completed", "cancelled"]}, "ai_campaign_factory": {"title": "Ai campaign factory", "type": "integer", "readOnly": true}, "campaign": {"$ref": "#/definitions/Campaign"}, "campaign_id": {"title": "Campaign id", "type": "integer"}}}, "AICountry": {"required": ["country_code"], "type": "object", "properties": {"country_code": {"title": "Country code", "type": "string", "maxLength": 3, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 100, "x-nullable": true}}}, "AICampaignFactoryList": {"required": ["campaign_factory_name", "target_channel_name", "start_date", "end_date"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "campaign_factory_name": {"title": "Campaign factory name", "type": "string", "maxLength": 2500, "minLength": 1}, "status": {"title": "Status", "type": "string", "enum": ["draft", "scheduled", "active", "finished", "cancelled"]}, "target_country": {"$ref": "#/definitions/AICountry"}, "target_channel_name": {"title": "Target channel name", "type": "string", "maxLength": 2500, "minLength": 1}, "program_title": {"title": "Program title", "type": "string", "maxLength": 2500, "x-nullable": true}, "start_date": {"title": "Start date", "type": "string", "format": "date-time"}, "end_date": {"title": "End date", "type": "string", "format": "date-time"}}}, "CurrencyCode": {"required": ["code", "name", "symbol", "decimal_separator"], "type": "object", "properties": {"code": {"title": "Code", "type": "string", "maxLength": 3, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "symbol": {"title": "Symbol", "type": "string", "maxLength": 10, "minLength": 1}, "decimal_separator": {"title": "Decimal separator", "type": "string", "maxLength": 1, "minLength": 1}}}, "ECommerce": {"required": ["id", "name", "logo_url", "logo_url_black_background"], "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "logo_url": {"title": "Logo url", "type": "string", "maxLength": 2000, "minLength": 1}, "logo_url_black_background": {"title": "Logo url black background", "type": "string", "maxLength": 2000, "minLength": 1}, "scraping_code": {"title": "Scraping code", "type": "string", "maxLength": 100, "x-nullable": true}, "ai_enabled": {"title": "Ai enabled", "type": "boolean"}, "referer_params": {"title": "Referer params", "type": "string", "maxLength": 300, "x-nullable": true}, "language": {"title": "Language", "type": "string", "maxLength": 20, "x-nullable": true}}}, "CategoryM": {"required": ["name", "tenant_id"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "tenant_id": {"title": "Tenant id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "AICampaignFactoryEcommerceCategory": {"required": ["ecommerce_id", "category_id"], "type": "object", "properties": {"ecommerce": {"$ref": "#/definitions/ECommerce"}, "category": {"$ref": "#/definitions/CategoryM"}, "ecommerce_id": {"title": "Ecommerce id", "type": "integer"}, "category_id": {"title": "Category id", "type": "integer"}}}, "AICampaignFactorySponsor": {"required": ["sponsor_id", "type"], "type": "object", "properties": {"sponsor": {"title": "Sponsor", "type": "string", "readOnly": true}, "sponsor_id": {"title": "Sponsor id", "type": "integer"}, "type": {"title": "Type", "type": "string", "enum": ["restricted", "whitelist", "blacklist"]}, "notes": {"title": "Notes", "type": "string", "x-nullable": true}}}, "AICampaignFactory": {"required": ["target_country_code", "campaign_factory_name", "start_date", "end_date", "target_channel_name", "target_channel_id"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "target_country": {"$ref": "#/definitions/AICountry"}, "currency": {"$ref": "#/definitions/CurrencyCode"}, "target_country_code": {"title": "Target country code", "type": "string"}, "currency_code": {"title": "Currency code", "type": "string", "x-nullable": true}, "ecommerce_categories": {"type": "array", "items": {"$ref": "#/definitions/AICampaignFactoryEcommerceCategory"}}, "sponsors": {"type": "array", "items": {"$ref": "#/definitions/AICampaignFactorySponsor"}}, "schedule": {"type": "array", "items": {"$ref": "#/definitions/AICampaignFactorySchedule"}}, "program_title": {"title": "Program title", "type": "string", "x-nullable": true}, "program_description": {"title": "Program description", "type": "string", "x-nullable": true}, "program_genre": {"title": "Program genre", "type": "string", "x-nullable": true}, "program_keywords": {"title": "Program keywords", "type": "string", "x-nullable": true}, "ai_context": {"title": "Ai context", "type": "string", "x-nullable": true}, "min_price_integer": {"title": "Min price integer", "type": "integer", "x-nullable": true}, "min_price_fraction": {"title": "Min price fraction", "type": "integer", "x-nullable": true}, "max_price_integer": {"title": "Max price integer", "type": "integer", "x-nullable": true}, "max_price_fraction": {"title": "Max price fraction", "type": "integer", "x-nullable": true}, "display_duration": {"title": "Display duration", "type": "integer", "x-nullable": true}, "min_rating": {"title": "Min rating", "type": "string", "format": "decimal", "x-nullable": true}, "campaign_ad_frequency": {"title": "Campaign ad frequency", "type": "integer", "x-nullable": true}, "target_audience": {"title": "Target audience", "type": "string", "x-nullable": true}, "program_id": {"title": "Program id", "type": "integer", "x-nullable": true}, "deleted": {"title": "Deleted", "type": "boolean", "readOnly": true}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "modified": {"title": "Modified", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "campaign_factory_name": {"title": "Campaign factory name", "type": "string", "maxLength": 2500, "minLength": 1}, "start_date": {"title": "Start date", "type": "string", "format": "date-time"}, "end_date": {"title": "End date", "type": "string", "format": "date-time"}, "status": {"title": "Status", "type": "string", "enum": ["draft", "scheduled", "active", "finished", "cancelled"]}, "target_channel_name": {"title": "Target channel name", "type": "string", "maxLength": 2500, "minLength": 1}, "target_channel_id": {"title": "Target channel id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "CampaignChannel": {"required": ["channel_id", "channel_name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "channel_id": {"title": "Channel id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "channel_name": {"title": "Channel name", "type": "string", "maxLength": 100, "minLength": 1}}}, "Currency": {"required": ["code", "name", "decimal_separator", "symbol"], "type": "object", "properties": {"code": {"title": "Code", "type": "string", "maxLength": 3, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "decimal_separator": {"title": "Decimal separator", "type": "string", "maxLength": 1, "minLength": 1}, "symbol": {"title": "Symbol", "type": "string", "maxLength": 10, "minLength": 1}}}, "ProductUChannel": {"required": ["channel_id", "channel_name"], "type": "object", "properties": {"channel_id": {"title": "Channel id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "channel_name": {"title": "Channel name", "type": "string", "maxLength": 100, "minLength": 1}}}, "Category": {"required": ["name", "tenant_id"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "tenant_id": {"title": "Tenant id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "CampaignProductSerializerUnique": {"required": ["campaign", "order"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "campaign": {"title": "Campaign", "type": "integer"}, "order": {"title": "Order", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "display_time": {"title": "Display time", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "duration": {"title": "Duration", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}}}, "IABCategory": {"required": ["iab_code", "name"], "type": "object", "properties": {"iab_code": {"title": "Iab code", "type": "string", "maxLength": 50, "minLength": 1}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}}}, "ProductAlertBasic": {"required": ["status"], "type": "object", "properties": {"is_cheaper": {"title": "Is cheaper", "type": "boolean", "x-nullable": true}, "is_more_expensive": {"title": "Is more expensive", "type": "boolean", "x-nullable": true}, "is_out_of_stock": {"title": "Is out of stock", "type": "boolean", "x-nullable": true}, "last_updated": {"title": "Last updated", "type": "string", "format": "date", "x-nullable": true}, "is_url_valid": {"title": "Is url valid", "type": "boolean", "x-nullable": true}, "status": {"title": "Status", "type": "boolean"}}}, "Product": {"required": ["name", "currency_code", "price_integer", "url_product_ecommerce", "e_ecommerce"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 500, "minLength": 1}, "currency_code": {"$ref": "#/definitions/Currency"}, "price_integer": {"title": "Price integer", "type": "integer"}, "price_fraction": {"title": "Price fraction", "type": "integer", "default": 0, "x-nullable": true}, "full_price_integer": {"title": "Full price integer", "type": "integer", "default": 0, "x-nullable": true}, "full_price_fractional": {"title": "Full price fractional", "type": "integer", "default": 0, "x-nullable": true}, "discount": {"title": "Discount", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "channels": {"type": "array", "items": {"$ref": "#/definitions/ProductUChannel"}, "readOnly": true}, "sponsors_data": {"type": "array", "items": {"type": "object", "additionalProperties": {"type": "string", "x-nullable": true}}}, "sponsors": {"title": "Sponsors", "type": "string", "readOnly": true}, "keywords_data": {"type": "array", "items": {"type": "object", "additionalProperties": {"type": "string", "x-nullable": true}}}, "keywords": {"title": "Keywords", "type": "string", "readOnly": true}, "expiration_date": {"title": "Expiration date", "type": "string", "format": "date", "x-nullable": true}, "stock": {"title": "Stock", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "rating": {"title": "Rating", "type": "string", "format": "decimal", "x-nullable": true}, "categories": {"type": "array", "items": {"$ref": "#/definitions/Category"}}, "image_url": {"title": "Image url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "url_product_ecommerce": {"title": "Url product ecommerce", "type": "string", "maxLength": 3000, "minLength": 1}, "e_ecommerce": {"$ref": "#/definitions/ECommerce"}, "stock_integrity_check": {"title": "Stock integrity check", "type": "boolean"}, "campaign_products": {"type": "array", "items": {"$ref": "#/definitions/CampaignProductSerializerUnique"}}, "iab_categories": {"type": "array", "items": {"$ref": "#/definitions/IABCategory"}}, "tenant_id": {"title": "Tenant id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "user_email": {"title": "User email", "type": "string", "format": "email", "maxLength": 100, "x-nullable": true}, "user_id": {"title": "User id", "type": "string", "maxLength": 100, "x-nullable": true}, "product_alert": {"$ref": "#/definitions/ProductAlertBasic"}, "status": {"title": "Status", "type": "string", "maxLength": 50, "x-nullable": true}}}, "CampaignProductScheduling": {"required": ["product", "campaign", "is_realtime", "status", "duration"], "type": "object", "properties": {"product": {"$ref": "#/definitions/Product"}, "campaign": {"$ref": "#/definitions/Campaign"}, "is_realtime": {"title": "Is realtime", "type": "boolean"}, "scheduled_time": {"title": "Scheduled time", "type": "string", "format": "date-time", "x-nullable": true}, "status": {"title": "Status", "type": "string", "maxLength": 50, "minLength": 1}, "delivery_time": {"title": "Delivery time", "type": "string", "format": "date-time", "x-nullable": true}, "message": {"title": "Message", "type": "string", "maxLength": 500, "x-nullable": true}, "duration": {"title": "Duration", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "CampaignProductC": {"required": ["product", "campaign", "order"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "product": {"$ref": "#/definitions/Product"}, "campaign": {"title": "Campaign", "type": "integer"}, "order": {"title": "Order", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "display_time": {"title": "Display time", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "duration": {"title": "Duration", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}}}, "CampaignList": {"required": ["name", "status", "type"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "status": {"title": "Status", "type": "string", "enum": ["active", "draft", "voided", "scheduled", "standby", "finished", "live"]}, "country_details": {"type": "array", "items": {"$ref": "#/definitions/Country"}, "readOnly": true}, "channels": {"title": "Channels", "type": "string", "readOnly": true}, "type": {"title": "Type", "type": "string", "enum": ["live", "scheduled"]}, "scheduled_time": {"title": "Scheduled time", "type": "string", "format": "date-time", "x-nullable": true}}}, "CampaignProductList": {"required": ["campaign_product_id", "order"], "type": "object", "properties": {"campaign_product_id": {"title": "Campaign product id", "type": "integer"}, "product": {"title": "Product", "type": "string", "readOnly": true}, "order": {"title": "Order", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "display_time": {"title": "Display time", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "duration": {"title": "Duration", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}}}, "CampaignProductDetail": {"required": ["campaign_product_id", "order"], "type": "object", "properties": {"campaign_product_id": {"title": "Campaign product id", "type": "integer"}, "product": {"title": "Product", "type": "string", "readOnly": true}, "order": {"title": "Order", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "display_time": {"title": "Display time", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "duration": {"title": "Duration", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "modified": {"title": "Modified", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}}}, "KeyWords": {"required": ["keyword", "tenant_id"], "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "keyword": {"title": "Keyword", "type": "string", "maxLength": 50, "minLength": 1}, "tenant_id": {"title": "Tenant id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "ProductAlertSerializerUnique": {"required": ["product", "status"], "type": "object", "properties": {"product": {"$ref": "#/definitions/Product"}, "is_cheaper": {"title": "Is cheaper", "type": "boolean", "x-nullable": true}, "is_more_expensive": {"title": "Is more expensive", "type": "boolean", "x-nullable": true}, "is_out_of_stock": {"title": "Is out of stock", "type": "boolean", "x-nullable": true}, "last_updated": {"title": "Last updated", "type": "string", "format": "date", "x-nullable": true}, "is_url_valid": {"title": "Is url valid", "type": "boolean", "x-nullable": true}, "status": {"title": "Status", "type": "boolean"}}}, "Sponsor": {"required": ["name", "tenant_id"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "tenant_id": {"title": "Tenant id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "URLDomain": {"required": ["url", "country", "e_ecommerce"], "type": "object", "properties": {"url": {"title": "Url", "type": "string", "maxLength": 3000, "minLength": 1}, "country": {"$ref": "#/definitions/Country"}, "e_ecommerce": {"$ref": "#/definitions/ECommerce"}}}}}