{"openapi":"3.1.0","info":{"title":"Legas Forn API","version":"1.0.0","description":"API publica para revendedores e integradores da Legas Forn. Todas as rotas exigem autenticacao via Bearer token (chave de API), exceto quando indicado. Valores monetarios estao em BRL.","contact":{"name":"Legas Forn","url":"https://legasforn.com/docs/api"}},"servers":[{"url":"https://legasforn.com/api/v1","description":"Producao"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Catalogo","description":"Jogos, contas e skins disponiveis"},{"name":"Compras","description":"Compra de contas e verificacao"},{"name":"Carteira","description":"Saldo e depositos via PIX"},{"name":"Pedidos","description":"Historico e detalhes de pedidos"},{"name":"Cupons","description":"Gestao de cupons de desconto"},{"name":"Conta","description":"Estatisticas da conta"}],"paths":{"/games":{"get":{"tags":["Catalogo"],"summary":"Lista os jogos disponiveis","security":[{"bearerAuth":["read"]}],"responses":{"200":{"description":"Lista de jogos","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GamesResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/accounts":{"get":{"tags":["Catalogo"],"summary":"Lista contas disponiveis de um jogo","security":[{"bearerAuth":["read"]}],"parameters":[{"name":"game","in":"query","required":true,"schema":{"type":"string"},"description":"Slug do jogo (ex: clash-royale)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}}],"responses":{"200":{"description":"Lista paginada de contas","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/accounts/{id}":{"get":{"tags":["Catalogo"],"summary":"Detalhes de uma conta","security":[{"bearerAuth":["read"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"game","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Detalhes da conta","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/accounts/{id}/skins":{"get":{"tags":["Catalogo"],"summary":"Lista skins de uma conta","security":[{"bearerAuth":["read"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"game","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Lista de skins","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/verify":{"post":{"tags":["Compras"],"summary":"Verifica se uma conta ainda esta disponivel","security":[{"bearerAuth":["read"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["accountId","game"],"properties":{"accountId":{"type":"string"},"game":{"type":"string"}}}}}},"responses":{"200":{"description":"Resultado da verificacao","content":{"application/json":{"schema":{"type":"object","properties":{"valid":{"type":"boolean"},"available":{"type":"boolean"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/purchase":{"post":{"tags":["Compras"],"summary":"Compra uma conta usando o saldo da carteira","description":"Debita o saldo da carteira e entrega a conta. Suporta idempotencia via header Idempotency-Key para evitar cobranca duplicada. Exige escopo purchase.","security":[{"bearerAuth":["purchase"]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["accountId","game"],"properties":{"accountId":{"type":"string"},"game":{"type":"string"},"couponCode":{"type":"string","nullable":true}}}}}},"responses":{"200":{"description":"Compra concluida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"description":"Saldo insuficiente","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Conta indisponivel ou ja vendida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/wallet":{"get":{"tags":["Carteira"],"summary":"Consulta o saldo da carteira","security":[{"bearerAuth":["read"]}],"responses":{"200":{"description":"Saldo atual","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Wallet"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/wallet/deposit":{"post":{"tags":["Carteira"],"summary":"Cria um deposito via PIX","security":[{"bearerAuth":["deposit"]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount"],"properties":{"amount":{"type":"number","minimum":1,"description":"Valor em BRL"},"cpf":{"type":"string","description":"CPF do pagador (apenas digitos)"}}}}}},"responses":{"200":{"description":"Deposito criado com QR Code PIX","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/wallet/deposit/{id}":{"get":{"tags":["Carteira"],"summary":"Consulta o status de um deposito","security":[{"bearerAuth":["read"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Status do deposito","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositStatus"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/orders":{"get":{"tags":["Pedidos"],"summary":"Lista os pedidos da conta","security":[{"bearerAuth":["read"]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}}],"responses":{"200":{"description":"Lista de pedidos","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/orders/{id}":{"get":{"tags":["Pedidos"],"summary":"Detalhes de um pedido (inclui credenciais entregues)","security":[{"bearerAuth":["read"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Detalhes do pedido","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/orders/{id}/refund":{"post":{"tags":["Pedidos"],"summary":"Solicita o reembolso de um pedido não entregue","description":"Devolve o saldo ao cliente quando a conta não foi entregue. Idempotente: reenviar nunca paga em dobro. Pedidos entregues não são reembolsados (409). Pedidos com menos de 15 min ainda podem estar em entrega (425). Mesmo sem chamar este endpoint, a reconciliação automática reembolsa pedidos travados a cada 5 min.","security":[{"bearerAuth":["purchase"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Reembolso processado (ou já reembolsado).","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"description":"Pedido já entregue ou não reembolsável.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"425":{"description":"Pedido ainda em processamento; tente mais tarde.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/coupons":{"get":{"tags":["Cupons"],"summary":"Lista os cupons do revendedor","security":[{"bearerAuth":["coupons"]}],"responses":{"200":{"description":"Lista de cupons","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}},"post":{"tags":["Cupons"],"summary":"Cria um cupom de desconto","security":[{"bearerAuth":["coupons"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["code","discount"],"properties":{"code":{"type":"string"},"discount":{"type":"number"},"type":{"type":"string","enum":["percent","fixed"]},"maxUses":{"type":"integer","nullable":true}}}}}},"responses":{"201":{"description":"Cupom criado","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/coupons/{code}":{"get":{"tags":["Cupons"],"summary":"Detalhes de um cupom","security":[{"bearerAuth":["coupons"]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Detalhes do cupom","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"tags":["Cupons"],"summary":"Remove um cupom","security":[{"bearerAuth":["coupons"]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cupom removido"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/stats":{"get":{"tags":["Conta"],"summary":"Estatisticas da conta (gastos, pedidos, saldo)","security":[{"bearerAuth":["read"]}],"responses":{"200":{"description":"Estatisticas","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Chave de API no header Authorization: Bearer {key}. Cada chave tem escopos (read, purchase, deposit, coupons), limite de gasto e rate limit proprios."}},"parameters":{"IdempotencyKey":{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string","maxLength":255},"description":"Chave unica para tornar a operacao idempotente e evitar cobranca duplicada em retries."}},"responses":{"BadRequest":{"description":"Requisicao invalida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Unauthorized":{"description":"Chave de API ausente, invalida ou sem escopo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Forbidden":{"description":"Acesso negado (ex.: limite de gasto da chave excedido)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"Recurso nao encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"RateLimited":{"description":"Limite de requisicoes excedido","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Segundos ate poder tentar novamente"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"schemas":{"Error":{"type":"object","required":["success","error"],"properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","description":"Codigo legivel por maquina (ex.: invalid_token, rate_limited, insufficient_scope)."},"message":{"type":"string","description":"Mensagem legivel por humano."}}}}},"Wallet":{"type":"object","properties":{"balance":{"type":"number"},"currency":{"type":"string","default":"BRL"}}},"GamesResponse":{"type":"object","properties":{"games":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string"},"name":{"type":"string"}}}}}},"Account":{"type":"object","properties":{"id":{"type":"string"},"game":{"type":"string"},"price":{"type":"number"},"title":{"type":"string"},"available":{"type":"boolean"}}},"AccountsResponse":{"type":"object","properties":{"accounts":{"type":"array","items":{"$ref":"#/components/schemas/Account"}},"page":{"type":"integer"},"total":{"type":"integer"}}},"PurchaseResponse":{"type":"object","properties":{"success":{"type":"boolean"},"orderId":{"type":"string"},"newBalance":{"type":"number"}}},"DepositResponse":{"type":"object","properties":{"depositId":{"type":"string"},"qrCode":{"type":"string"},"pixCopyPaste":{"type":"string"},"amount":{"type":"number"}}},"DepositStatus":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["pending","paid","expired","cancelled"]},"amount":{"type":"number"}}},"Order":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"total":{"type":"number"},"createdAt":{"type":"string","format":"date-time"}}},"OrdersResponse":{"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/components/schemas/Order"}},"page":{"type":"integer"},"total":{"type":"integer"}}}}}}